::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
    background-color: #818181; /* Color de la barra de desplazamiento */
    transition: background-color 1s ease; /* Transición suave en color */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #505050;
}

.bg-gray-200 {
    background-color: #e5e7eb; /* Color gris claro */
}

.h-2\.5 {
    height: 10px; /* Altura de la barra */
}

.rounded-full {
    border-radius: 9999px; /* Bordes redondeados */
}

.bg-red-500 {
    background-color: #ef4444; /* Color rojo */
}

.bg-yellow-500 {
    background-color: #f59e0b; /* Color amarillo */
}

.bg-green-500 {
    background-color: #10b981; /* Color verde */
}

.bg-indigo-500 {
    background-color: #6366f1; /* Color índigo */
}